.sidebar {
  flex:1;
    height: calc(100vh - 50px);
    background-color: rgb(251, 251, 255);
    position: sticky;
    background-color:#0d6efd;
    -webkit-box-shadow: 5px 0px 9px -4px rgba(0,0,0,0.76); 
    box-shadow: 5px 0px 9px -4px rgba(0,0,0,0.76);
    /*top: 50px;*/
  }
  
  .sidebarWrapper {
    padding: 30px;
    color: #555;
  }
  
  .sidebarMenu {
    margin-bottom: 10px;
  }
  
  .sidebarTitle {
    font-size: 13px;
    color: white;
  }
  
  .sidebarList {
    list-style: none;
    padding: 5px;
  }
  
  .sidebarListItem {
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
    color:white;
  }
  
  .sidebarListItem.active,.sidebarListItem.active .sidebarIcon,
  .sidebarListItem:hover, .sidebarListItem:hover .sidebarIcon {
    background-color: white;
    color:#0d6efd;
  }
 

  .sidebarIcon{
      margin-right: 5px;
      font-size: 20px !important;
      color:white;
    
  }